{% extends "layout.html" %}

{% block user %}
    {{ mainusername }}
{% endblock %}

{% block main %}

    {% for msg in get_flashed_messages() %}
    <div class="d-flex justify-content-center mb-3 mx-auto">
        <div class="info w-25 p-2">{{msg}}</div>
    </div>
    {% endfor %}

<div class="d-flex justify-content-center">
    <form action="/add" method="post" class="formbg py-4 w-75">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-75" name="title" placeholder="Title" type="text">
        </div>
        <div class="mb-3">
            <textarea class="desc form-control mx-auto w-75" name="description" placeholder="Describe what the event is about"></textarea>
        </div>
        <div class="mb-3 mx-auto w-75">
            <input class="form-control w-25" name="date" type="datetime-local">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>

{% endblock %}