{% extends "layout.html" %}
{% block user %}
    {{ mainusername }}
{% endblock %}
{% block main %}
{% for msg in get_flashed_messages() %}
<div class="d-flex justify-content-center mb-3 mx-auto">
    <div class="info w-25 p-2">{{msg}}</div>
</div>
{% endfor %}
<div class="calcontainer">
    <div class="top row mx-0 justify-content-center p-3">
        <div class="prev col-auto">
            <form action="/" method="post">
                <button type="submit" name="change" value="prev"><i class="bi bi-arrow-left-square"></i></button>
        </div>
        <div class="month col-auto">
            <input type="text" name="current_month" readonly value={{month|upper}}>
            <input type="text" class="current_year" name="current_year" readonly value={{datey}}>
        </div>
        <div class="next col-auto">
                <button type="submit" name="change" value="next"><i class="bi bi-arrow-right-square"></i></button>
            </form>
        </div>
    </div>
    <div class="week row mx-0">
        {% for i in range((datew) | length) %}
        <div class="col py-3 px-2">{{ datew[i] }}</div>
        {% endfor %}
    </div>
    {% for i in range((cal) | length) %}
    <div class="row mx-0">
        {% for j in range((cal[i]) | length) %}
            {% if cal[i][j] == 0 %}
                <div class="days col p-3">{{ " " }}</div>
            {% else %}
                <div class="days col p-3">{{cal[i][j]}}
                {% for k, v in table_days.items() %}
                    {% if cal[i][j] == k %}
                        <div class="tooltip">{{v}}</div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}