{% extends "layout.html" %}


{% block main %}
    {% for msg in get_flashed_messages() %}
        <div class="d-flex justify-content-center mb-3 mx-auto">
            <div class="info w-25 p-2">{{msg}}</div>
        </div>
    {% endfor %}
<div class="d-flex justify-content-center">
    <form action="/login" method="post" class="formbg py-4 w-25">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>
{% endblock %}
